<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Codecool events</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container col-md-12">
    <!--<div th:replace="navbar :: copy"></div>-->

    <div class="table-responsive">
        <table id="products" class="table table-bordered table-striped">
            <thead>
            <th>Event</th>
            <th>Description</th>
            <th>Category</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>
            <tbody>
            <tr>
                <td th:text="${event.getName()}">event</td>
                <td th:text="${event.getDescription()}">event</td>
                <td th:text="${event.getCategory()}">event</td>
                <td th:text="${event.getStringDate()}">event</td>
                <td><a th:href="|/edit/${event.getId()}|">
                    <button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil">
                    </span></button></a></td>
                <td><a th:href="|/delete/${event.getId()}|">
                    <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash">
                    </span></button></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="footer :: copy"></div>


</body>
</html>